{% extends 'base.html' %}

{% block body %}
<p class="text-white py-4">I had grand ambitions to make something out of wood with little doors and whatnot, and fill it with assorted notes and knicknacks, but I ran out of time so this extremely dorky alternative will have to do. Happy birthday!</p>
<div class="table-responsive mt-5">
  <table class="table table-dark table-striped table-bordered" style="opacity:0.93;">
    <thead>
      <tr class="text-center">
        <th scope="col">Monday</th>
        <th scope="col">Tuesday</th>
        <th scope="col">Wednesday</th>
        <th scope="col">Thursday</th>
        <th scope="col">Friday</th>
        <th scope="col">Saturday</th>
        <th scope="col">Sunday</th>
      </tr>
    </thead>
    <tbody>
      {% for week in calendar %}
      <tr>
        {% for day in week %}
        <td class="text-center{% if day <= today %} Open{% endif %}{% if day == today %} Today{% endif %}"><a {% if day <= today %}href="{% url 'date_detail' day=day.day month=day.month %}"{% endif %} class="d-inline-block py-5"><strong>{{ day|date:"M j" }}</strong></a></td>
        {% endfor %}
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
{% endblock %}