{% extends 'base.html' %}

{% block body %}
<div class="mt-5">
  <h2 class="mb-4"><em>{{ date.date }}</em></h2>
  <button class="btn btn-primary btn-lg btn-success mb-5 w-50 w-90-r" type="button" data-bs-toggle="collapse" data-bs-target="#id_cardCollapse" aria-expanded="false" aria-controls="id_cardCollapse">Open It</button>
  <div class="card collapse" id="id_cardCollapse">
    <div class="card-body">
      {% if date.date <= today %}
        <h3 class="card-title">{{ date.name }}</h3>
        <p>{{ date.description|safe }}</p>
        {% if date.image %}
        <img src="{{ date.image.url }}">
        {% endif %}
      {% else %}
        <h3 class="card-title">Hey! No peeking ahead!</h3>
      {% endif %}
    </div>
  </div>
</div>
<a href="{% url 'date_list' %}"><button class="btn btn-primary btn-danger mt-5">Go Back</button></a>
{% endblock %}